version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: meme_redis
    ports:
      - "6379:6379"
    restart: always

  server:
    build: .
    container_name: meme_aggregator_api
    depends_on:
      - redis
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - REDIS_URL=redis://redis:6379 # Internal Docker Network use karna
      - PORT=4000
    command: npm run dev # Fastify server + Socket.io + Cron

  worker:
    build: .
    container_name: meme_aggregator_worker
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run worker # BullMQ Worker process
